@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

/* variables*/


:root{
    
}

/* Navigation*/
.nav-container{
    background-color:#34D399;
    border-bottom-left-radius: 1rem;
    padding-right: 2rem;
}

.nav-header{
    font-family: 'Nanum Gothic', sans-serif;
    color: white;
    padding: 1rem 1rem;
}

.nav-list{
    list-style: none;
    text-align: right;
    padding-bottom: 1rem;    
}

.nav-list-inline{
    display: inline;
    padding: 2rem;
}
.nav-list-link{
    color: white;
    text-decoration: none;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: large;
}
.link-active{
    font-weight: 900;
    color: black;
}

/*hero-imag*/

.hero-img{
    max-width: 350px;
    display: block;
    margin: auto;
}
/*Intro_about_me*/

.intro-head{
    font-family: 'Yellowtail', cursive;
    text-align: center;
    color: #9CA3AF;
}
.intro-para{
    font-family: 'Nunito', sans-serif;
    text-align: center;
}
.intro-link{
    text-decoration: none;
    font-weight: bold;
    color:#34D399;
}
.sub-intro{
    font-family: 'Nanum Gothic', sans-serif;
    color: #34D399;
    padding-left: 31rem;
    padding-top: 2rem;
    padding-bottom: 1rem;
}
.sub-unordered-list{
    list-style: none;
    padding-left: 31rem;
}
.sub-unordered-list-item{
    font-family: 'Nunito', sans-serif;
}
.sub_into-link{
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    background-color:#A7F3D0;
    padding:0.5rem 1rem ;
    color: black;
    margin-left:31rem ;
    border-radius: 0.5rem;
}
.div-sub-pro{
    padding-bottom:1rem;
    padding-left: 31rem;
    font-family: 'Nunito', sans-serif;
}
.div-sub{
    padding-left: 31rem;
    font-family: 'Nunito', sans-serif;
}

/* footer */
footer{    
background-color:#34D399;
border-top-right-radius: 1rem;
text-align: center;
}

.footer-head{
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: larger;
    font-weight: bold;
}
.footer-ul{
padding: 2rem;
list-style: none;
}
.footer-ul-item{
    font-family: 'Nunito', sans-serif;
    display: inline;
    padding: 2rem;
    font-size: larger;
}
.footer-link{
    text-decoration: none;
    color: white;
}

/* projects ordered list*/
.project-ol{
    padding-left: 31rem;
    padding-top: 2rem;
}
.project-ol-item{
    font-family: 'Nunito', sans-serif;
    color: #34D399;
    font-size: x-large;
    font-weight: bolder;
    padding: 2rem;
}
.pro-date{
    padding: 1.5rem;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
}
.pro-des{
    padding: 2rem;
    font-family: 'Nunito', sans-serif;
}
.pro-link{
    padding:1rem;
    text-decoration: none;
    background-color:#A7F3D0;
    border-radius: 0.5rem;
    color: black;
    font-family: 'Nunito', sans-serif;
    text-align: right;
}
.hero-about{
    max-width: 350px;
    display: block;
    margin: auto;
}
.para-about{
    font-family: 'Nunito', sans-serif;
    text-align: center;
    padding-top: 2rem;
}
.about-link{
    text-decoration: none;
    color: #34D399;
}